.contact {
  padding: var(--section-padding);

  & .wrapper {
    display: flex;
    justify-content: space-between;
  }

  & .content {
    display: flex;
    flex-direction: column;
    max-width: 44.4rem;
    gap: var(--gap-horizontal);
  }

  & .form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-horizontal);

    & .divider {
      display: flex;
      gap: var(--gap-horizontal);
    }

    .formInput {
      margin: unset;
    }

    .button {
      max-width: 16rem;
      cursor: pointer;
      border: none;
    }
  }
}