.cta {
  background-color: var(--color-redish);
  padding: var(--section-padding);
  
  & .wrapper {
    display: flex;
    justify-content: space-between;
  }

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 44.4rem;

    & > p {
      margin: 2.4rem 0 4rem 0;
    }
  }
}